*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-container {
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-preview {
  position: block;
  border: 1px solid grey;
  height: 116px;
  width: 136px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}
